{% load static from staticfiles %}
<footer class="footer">
    <p class="float-xs-right">
        <a href="#">Back to top</a>
    </p>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li><a href="{% url 'wafer_page' %}">Home</a></li>
                    <li><a href="{% url 'wafer_page' 'about/debconf' %}">About DebConf17</a></li>
                    <li><a href="#">Debian Day</a></li>
                    <li><a href="#">Important dates</a></li>
                    <li><a href="#">Talks schedule</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li><a href="#">Travel+Venue+Sleep</a></li>
                    <li><a href="#">Getting to Montreal</a></li>
                    <li><a href="#">Border+Visa+Customs</a></li>
                    <li><a href="#">The venue</a></li>
                    <li><a href="#">Accommodation</a></li>
                    <li><a href="#">Local information</a></li>
                    <li><a href="#">Maps</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li><a href="#">How can I help?</a></li>
                    <li><a href="#">Become a Sponsor!</a></li>
                    <li><a href="#">Involved in DebConf</a></li>
                    <li><a href="#">Artwork</a></li>
                    <li><a href="#">Past DebConfs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <a href="https://www.debian.org/" style="float: right;"><img src="{% static 'img/dd.png' %}" /></a>
                <a href="http://spi-inc.org/"><img src="{% static 'img/spi.png' %}" /></a>
                <a href="http://www.ffis.de/"><img src="{% static 'img/ffis.png' %}" /></a>
            </div>
        </div>

        <div class="col-lg-6" id="license">
            Copyleft 2016-2017 DebConf17 Team, <a href="/site-credits">Credits &amp; Source</a>. <i>License: </i><br><a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons - Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)</a>
        </div>

        <div class="col-lg-6">
            <div id="past-debconfs">Past DebConfs:
                <select onchange="if (this.value) window.location.href=this.value">
                    <option>Select</option>
                    <option value="http://debconf0.debconf.org/">DebConf 0</option>
                    <option value="http://debconf1.debconf.org/">DebConf 1</option>
                    <option value="http://debconf2.debconf.org/">DebConf 2</option>
                    <option value="http://debconf3.debconf.org/">DebConf 3</option>
                    <option value="http://debconf4.debconf.org/">DebConf 4</option>
                    <option value="http://debconf5.debconf.org/">DebConf 5</option>
                    <option value="http://debconf6.debconf.org/">DebConf 6</option>
                    <option value="http://debconf7.debconf.org/">DebConf 7</option>
                    <option value="http://debconf8.debconf.org/">DebConf 8</option>
                    <option value="http://debconf9.debconf.org/">DebConf 9</option>
                    <option value="http://debconf10.debconf.org/">DebConf 10</option>
                    <option value="http://debconf11.debconf.org/">DebConf 11</option>
                    <option value="http://debconf12.debconf.org/">DebConf 12</option>
                    <option value="http://debconf13.debconf.org/">DebConf 13</option>
                    <option value="http://debconf14.debconf.org/">DebConf 14</option>
                    <option value="http://debconf15.debconf.org/">DebConf 15</option>
                    <option value="http://debconf16.debconf.org/">DebConf 16</option>
                </select>
            </div><!-- #past-debconfs -->
        </div>
    </div><!-- .container -->
</footer>
