{% extends "wafer/base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
{{ wizard.form.media.css }}
<style>
  #hidden-next {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
<h1>Registration</h1>
<form action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}
  <h2 class='form-title'>{{ form.title }}</h2>
  {% crispy wizard.form %}
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{{ wizard.steps.step1 }}" aria-valuemin="0"
         aria-valuemax="{{ wizard.steps.count }}"
         style="width: {% widthratio wizard.steps.step1 wizard.steps.count 100 %}%;">
      Page {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
    </div>
  </div>
  {% if wizard.steps.prev %}
    <input type="submit" id="hidden-next" value="Next page">
    <button name="wizard_goto_step" type="submit" class="btn btn-secondary"
            value="{{ wizard.steps.first }}">First Page</button>
    <button name="wizard_goto_step" type="submit" class="btn btn-secondary"
            value="{{ wizard.steps.prev }}">Previous Page</button>
  {% endif %}
  <input type="submit" class="btn btn-primary" value="Next page">
</form>
{% endblock %}

{% block extra_foot %}
{{ wizard.form.media.js }}
<script type="text/javascript">
'use strict';
$(function() {
  var minDate = moment('2017-07-31 00:00');
  var maxDate = moment('2017-08-13 10:00');
  var defaultDate = moment('2017-08-01 00:00');

  function validatedDate() {
    var current_value = moment(this.value);
    if (!current_value.isValid() ||
          current_value.diff(minDate) < 0 ||
          current_value.diff(maxDate) > 0) {
      return null;
    }
    return current_value;
  }

  function onShow(e) {
    var validated = validatedDate.call(this);
    // Hack: viewDate is busted
    // https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1959
    var setDate = $(this).data('DateTimePicker').date;
    setDate(validated || defaultDate);
    if (!validated) {
      setDate(null);
    }
  }

  $('.datetimeinput').each(function() {
    var current_value = validatedDate.call(this);
    $(this).datetimepicker({
      extraFormats: ['YYYY-MM-DD HH:mm:ss'],
      format: 'YYYY-MM-DD HH:mm',
      inline: true,
      locale: 'en-gb',
      maxDate: maxDate,
      minDate: minDate,
      sideBySide: true,
      useCurrent: false,
      icons: {
        clear: 'fa fa-trash',
        close: 'fa fa-times',
        date: 'fa fa-calendar',
        down: 'fa fa-chevron-down',
        next: 'fa fa-chevron-right',
        previous: 'fa fa-chevron-left',
        time: 'fa fa-clock-o',
        today: 'fa fa-dot-circle-o',
        up: 'fa fa-chevron-up',
      },
    });
    $(this).on('dp.show', onShow);
    // Ensure onShow is initially called. And that we don't render the page
    // with just the departure widget shown, because that's just weird.
    $(this).data('DateTimePicker').hide();
  });

  $('#arrival').on('dp.change', function(e) {
    $('#departure').data('DateTimePicker').minDate(e.date || minDate);
  });
  $('#departure').on('dp.change', function(e) {
    $('#arrival').data('DateTimePicker').maxDate(e.date || maxDate);
  });

  function dependentVisibility(dependent, showDependents) {
    var showDependents = showDependents || function(x) { return x };
    return function() {
      if (showDependents(this.value)) {
        dependent.show();
      } else {
        dependent.hide();
      }
    };
  }
  function hookDependentVisibilty(controller, dependent, showDependents) {
    var updateVisibility = dependentVisibility(dependent, showDependents);
    controller.change(updateVisibility);
    controller.each(updateVisibility);
  };

  hookDependentVisibilty(
    $('#tshirt-cut'), $('#tshirt-size').parents('.form-group'));

  hookDependentVisibilty(
    $('#bursary'), $('#bursary-details'));
  hookDependentVisibilty(
    $('#bursary'), $('#travel-details'),
    function(x) { return x.includes('travel') });

  hookDependentVisibilty(
    $('#diet'), $('#special_diet').parents('.form-group'));

  $('#id_6-venue_accom').change(function() {
    if (this.value == 'no') {
      $('#night-details').hide();
    } else {
      $('#night-details').show();
    }
  });

  $('#div_id_6-alt_accom input').each(function() {
    $(this).on('click', function(e) {
      var state = this.checked ? 'show' : 'hide';
        $('#accom-details').collapse(state);
    });
    if (! this.checked) {
      // Immediately hide, without any animation
      $('#accom-details').removeClass('in');
    }
  });

  $('#div_id_6-childcare input').each(function() {
    $(this).on('click', function(e) {
      var state = this.checked ? 'show' : 'hide';
        $('#childcare-details').collapse(state);
    });
    if (! this.checked) {
      // Immediately hide, without any animation
      $('#childcare-details').removeClass('in');
    }
  });

  function updateButton(toggle, checkboxes) {
    if (checkboxes.filter(':checked').length == 0) {
      toggle.addClass('fa-square-o')
        .removeClass('fa-minus-square-o fa-check-square-o');
    } else if (checkboxes.filter(':not(:checked)').length == 0) {
      toggle.addClass('fa-check-square-o')
        .removeClass('fa-square-o fa-minus-square-o');
    } else {
      toggle.addClass('fa-minus-square-o')
        .removeClass('fa-square-o fa-check-square-o');
    }
  }

  $('#div_id_5-food_selection i.fa-square-o').each(function() {
    var toggle = $(this);
    var checkboxes = $(this).closest('tr').find('input');
    updateButton(toggle, checkboxes);
    $(this).parent().on('click', function(e) {
      var select = checkboxes.filter(':checked').length == 0;
      checkboxes.each(function() {
        this.checked = select;
      });
      updateButton(toggle, checkboxes);
    });
    checkboxes.each(function() {
      $(this).on('click', function() {
        updateButton(toggle, checkboxes);
      });
    });
  });
});
</script>
{% endblock %}
