{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Sponsors' %} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<section class="wafer wafer-sponsors">
<h1>{% trans 'Sponsors' %}</h1>
<div id="sponsors-section">
  <div>{# noop for ifchanged to be useful #}
  {% for sponsor in sponsor_list %}
    {% with package=sponsor.packages.first %}
      {% ifchanged %}
        </div>
        <h2>{{ package.name }} Sponsors</h2>
        <div class="row">
      {% endifchanged %}
      <div class="col-lg-{% if package.name == 'Platinum'%}6{% elif package.name == 'Gold' %}3{% else %}2{% endif %}">
        <div class="list-group sponsors-{{package.name | lower }}">
          <a href="{{ sponsor.url }}" class="list-group-item">
            <img src="{{ sponsor.files.first.item.url }}"
                 alt="{{ sponsor.name }}">
          </a>
        </div>
      </div>
    {% endwith %}
  {% endfor %}
  </div>
</div>
</section>
{% endblock %}
